body {
	background-color: #f9e1b8;
	font-family: 'Open Sans',sans-serif;
	padding: 0;
    margin: 0;
	background-image: url(background.jpeg);
    background-position: 50% 50%;
	background-repeat: no-repeat;
}

a, a:visited {
	color: #428647 !important;
	text-decoration: none;
}

main {
	font-family: "Fredoka One";
	max-width: 1140px;
	margin: 0 auto;
}

main h1 {
	font-size: 4.5rem;
	font-weight: 300;
	margin: 1em 0;
	color: #428647;
}

main p {
	font-size: 1.25rem;
	font-weight: 600;
	margin: 1em 0;
	color: #428647;
}

main button {
	letter-spacing: 1px;
	border-style: none;
	text-shadow: 0 0 0 rgba(0, 0, 0, 0);
	font-size: 1.125rem;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0.5em 0 auto;
	padding: 12px 84px 12px 83px;
	background-color: #428647;
    color: #ffffff;
	border-radius: 4px;
}

label {
	display: block;
}

input[type=range] {
	width: 300px;
}

/* Header */
header {
	min-height: 60px;
	background-color: #ffffff;
	margin: 0 auto;
	display: flex;
	align-content: center;
	justify-content: space-between;
	font-size: 16px;
}

header h1 {
	font-size: 16px;
	color: #999999 !important;
	margin: 0;
	line-height: 16px;
	padding: 22px;
}

header nav {
	display: flex;
	gap: 10px;
	margin: 0 auto;
	padding: 22px;
}

header nav a, header nav a:visited {
	color: #999999 !important;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 16px;
}

/* Pages de recette */

section.recettes {
    display: flex;
}

section.recettes article { 
	border: solid 2px green;
	border-radius: 25px;
	padding: 25px;
	margin: 25px;
	text-align: center;
}

section.recettes article img {
    max-width: 200px;
    max-height: 200px;
	margin: 0 auto;
}

section.recette img {
    max-width: 200px;
    max-height: 200px;
    float: right;
    margin: 5px;
}
section.recette ul {
    text-align: left;
}
section.recette dt {
    margin-top: 1em;
    font-weight: bold;
}