html {
	--primary-color: #d1363a;
	--secondary-color: #574a4b;
	--app-radius: 4px;
}

body {
	background-color: white;
	font-family: 'Open Sans',sans-serif;
	padding: 0;
    margin: 0;
	background: url('bg.jpeg');
    background-position: cover;
	background-repeat: no-repeat;
}

main {
	padding: 2rem 0;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	background: rgba(255, 255, 255, .65);
}

a, a:visited {
	color: var(--primary-color) !important;
	text-decoration: none;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

main {
	text-align: center;
	width: 100vw;
	margin: 0 auto;
}

main h1 {
	font-size: 4.5rem;
	font-weight: 300;
	margin: 1em 0;
}

main p {
	font-size: 1.25rem;
	font-weight: 600;
	margin-bottom: 1rem;
	color: var(--primary-color)
}

main button, input[type=submit] {
	letter-spacing: 1px;
	border-style: none;
	font-size: 1.125rem;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0.5em 0 auto;
	padding: 12px 85px;
    color: #ffffff;
	background-color: var(--primary-color);
	border-radius: var(--app-radius);
}

label {
	display: block;
}

input[type=range] {
	width: 300px;
}

/* Header */
header {
	background-color: #ffffff;
	margin: 0 auto;
	display: flex;
	align-content: center;
	justify-content: space-between;
	flex-wrap: wrap;
	font-size: 16px;
	padding: 1rem;
	box-shadow: 0px 0px 8px rgba(0,0,0,.6);
}

header h1 {
	font-size: 1.25rem;
	text-align: center;
	color: var(--secondary-color);
}

header nav {
	display: flex;
	gap: 10px;
	margin: auto 0;
}

header nav a, header nav a:visited {
	color: var(--primary-color);
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 16px;
}

/* Pages de recette */

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: auto;
	flex-wrap: wrap;
    line-height: 30px;
	max-width: 1140px;
	margin: 20px auto;
}

form label {
	margin-right: 25px;
}

form input[type=search] {
	letter-spacing: 1px;
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0.5em 0 auto;
    padding: 12px;
	min-width: 450px;
    border-radius: 5px 0 0 5px;
}

form input[type=submit] {
	border-radius: var(--app-radius);
    border-color: var(--primary-color);
    border-style: solid;
}

section.recettes {
	width: 100%;
    display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

section.recettes article {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 80vw;
	min-width: 350px;
	background-color: white;
	border-radius: var(--app-radius);
	padding: 15px;
	margin: 15px 0;
	box-shadow: 0px 10px 10px 5px rgba(0,0,0,0.25);
}

section.recettes article div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

section.recettes article div h2 {
	font-size: 1.5rem;
	margin-bottom: .5rem;
}

section.recettes article div p {
	margin: 0;
	font-weight: 300;
	color: var(--secondary-color);
}

section.recettes article img {
    width: 100px;
    height: 100px;
	object-fit: cover;
	margin-top: auto;
	border-radius: var(--app-radius);
}

section.recette {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	color: var(--secondary-color);
}

section.recette img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 5px;
	border-radius: var(--app-radius);
}

section.recette h2 {
	color: var(--primary-color);
} 

section.recette h3 {
	font-weight: normal;
} 

section.recette ul {
    text-align: center;
	list-style: none;
	margin: .25rem 0;
	padding: 0;
}

section.recette dt {
    margin: 1rem 0;
    font-weight: bold;
}

section.recette dd {
	margin: 0;
    text-align: center;
}

.recette-nav {
	display: flex;
	justify-content: center;
	gap: 20px;
	width: 100%;
}

.recette-nav a {
	color: white !important;
	background-color: var(--primary-color);
	padding: 15px 20px;
	border-radius: var(--app-radius);
}